  body {
    font-family: Arial, sans-serif;
    width:100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #0e0f21, #291468);
    color: #ddd;
  }

  header {
    padding: 20px;
    height: 50px;
    width: 95%;
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* 291468 - 0e0f21*/
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    color: #fff;    
    box-shadow: 0 4px 6px rgba(0, -20, 20, 0.1); /* 水平偏移、垂直偏移、模糊半径、颜色和透明度 */
  }

  nav ul {
    list-style: none;
    display: flex;
    margin-right:10;
    padding: 0;
  }

  nav li {
    margin-left: 20px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }

  nav a:hover {
    color: #747474;
  }

  h1,
  h2 {
    text-align: center;
    margin: 50px 0;
  }

  section {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
    border-bottom: 1px solid #ddd;
  }

  ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  #logo {
    width: 80px;
    height: 80px;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #list-container{
    list-style:none;
  }

  .image-queue {
    width: 100%;
    overflow: hidden;
  }
  
  .image-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
  }
  

  @media all and (max-width:800px){
    /* #tot-title{
      display:none;
    } */
    #demo-img1{
      display:none;
    }
    #demo-img3{
      display:none;
    }
    #navigation-buttons{
      display:none;
    }
    main {
			padding: 0 20px; /* adds 20 pixels of padding to the left and right sides */
		}
    footer {
			padding: 0 20px; /* adds 20 pixels of padding to the left and right sides */
		}

    #list-container{
      padding-left:0;
    }

    #uses-list-container{
      padding-left:0;
    }

    #features-list-container{
      padding-left:0;
    }

  }